node_modules/
dist/
build/
.env
.env.local
.env.*
*.log
.DS_Store
.vscode/
.idea/
coverage/
.azure/
deploy-temp/
deploy.zip
appsettings.json
pg-admin-password.txt
pgservers.json
token.txt
webapp-logs/
webapp-logs.zip
